# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.New Unity Project (3).iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Домашка\Мартыненко Георгий Дз\Мартыненко Георгий Дз\New Unity Project (3)\.idea\.idea.New Unity Project (3)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
